<% content_for :title do %>
View Messages
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h1 class="h1fullwidth">Checkout</h1>
<div class="topgradientdiv">
  <div id="unread">
    <% @unreadmessages.each do |unread| %>
      <div class="name">
        <%= unread.name %>
      </div>
      <div class="message">
        <%= unread.message %>
      </div>
      <div class="action">
        <%= unread.replied %>
      </div>
    <% end %>
  </div>
  
  <div id="unreplied">
    <% @unrepliedmessages.each do |unreplied| %>
      <div class="name">
        <%= unreplied.name %>
      </div>
      <div class="message">
        <%= unreplied.message %>
      </div>
      <div class="action">
        <%= unreplied.replied %>
      </div>
    <% end %>
  </div>
</div>
<% end %>