<% content_for :header do %>
  <div id="contactheader">
    <img src="assets/site/contact.jpg" alt="Message in a Bottle" id="bottle" />
    <h1>Contact Us</h1>
  </div>
<% end %>

<% content_for :content do %>

<div id="contactcont">
<div class="col">
  <h3>Reach Us</h3>
  <p>
    We're very approachable and would love to speak with you.
    Feel free to call, send an email or drop us a message using 
    the form on the right.
  </p>
  <p>
    Though our online catalog is quite extensive, nothing beats
    coming into our boutique personally and looking around.
    New products are always shown in our store first before it goes online.
  </p>
  <p>
    <table>
      <tr class="space">
        <td>Opening Hours</td>
      </tr>
      <tr>
        <td class="tab">Mon-Thu</td>
        <td>08:00 - 22:00</td>
      </tr>
      <tr>
        <td class="tab">Fri</td>
        <td>08:00 - 20:00</td>
      </tr>
      <tr>
        <td class="tab">Sat-Sun</td>
        <td>10:00 - 6:00</td>
      </tr>
      </table>
  </p>
</div>

<div class="col">
  <h3>General</h3>
  <p>
    IN Fashion Ltd
  </p>
  <p>
    58-62 Percy Passage<br/>
    Brooklyn Nine-Nine<br/>
    Geneva
  </p>
  <p>
    <table>
      <tr>
        <td class="tab">Tel</td>
        <td>+32 (0)16 36 00 36</td>
      </tr>
      <tr>
        <td class="tab">Fax</td>
        <td>+32 (0)16 36 00 39</td>
      </tr>
      <tr>
        <td class="tab">Email</td>
        <td>info@infashion.com</td>
      </tr>
      </table>
  </p>
</div>

<div class="col" id="lastcol">
  <h3>Mail Us</h3>
  <%= form_for @contact do |f| %>
  <form id="contactform" action="" method="POST">
    <table id="contacttable">
    <tr>
      <td>Name:</td>
    </tr>
    <tr class="space">
      <td><%= f.text_field :name, :maxlength => 50, :size => 25%> 
    </tr>

    <tr>
      <td>Email:</td>
    </tr>
    <tr class="space">
      <td><%= f.text_field :email, :maxlength => 50, :size => 25,:required => true%> 
    </tr>

    <tr>
      <td>Message:</td>
    </tr>
    <tr class="space">
      <td><%= f.text_area :message, :rows => 7, :cols => 30%> 
    </tr>

    <tr>
      
       <td><%= f.submit "Send", class: "sendbtn" %></td>
    </tr>
    </table>
    <% end %>
  </form>
</div>
</div>

<% end %>
