<% content_for :title do %>
Checkout
<% end %>

<% content_for :header do %>

<% end %>

<% content_for :content do %>
<h1 class="h1fullwidth">Checkout</h1>
<div class="topgradientdiv">
<% if session[:username] != nil%>
<%= form_tag "submitOrder", method: "get", :class => "form" do %>
<div class="col">
  <h2>Delivery Details</h2>
  <p>
    Customer Name
    <br/>
    Street Address
    <br/>
    Town/City
    <br/>
    Country
  </p>
  <p>
    Phone
    <br/>
    Email
  </p>
  <p>If delivery details are incorrect, please edit them under <%= link_to "My Account", "account", :class => "link" %>.</p>
</div>

<div class="col">
  <h2>Payment Details</h2>
  <%= radio_button_tag :payby, 'card', :checked => true %> Pay by Card (Visa, Debit, etc)
  <table>
    <tr>
      <td>
        Card Type
        <br/>
        <%= text_field_tag :cardtype, '', :required => true %>
      </td>
    </tr>
    <tr>
      <td>
        Card Holder's Name
        <br/>
        <%= text_field_tag :cardname, '', :required => true %>
      </td>
    </tr>
    <tr>
      <td>
        Card Number
        <br/>
        <%= text_field_tag :cardnumber, '', :required => true %>
      </td>
    </tr>
    <tr>
      <td>
        Expiration Date
        <br/>
        <%= text_field_tag :cardexpiration, '', :placeholder => "MM/YYYY", :required => true %>
      </td>
    </tr>
  </table>
  <br/>
  <%= radio_button_tag :payby, 'giftcard' %> Redeem Gift Card
  <br/>
  Gift Card Number
  <br/>
  <!-- When Giftcard radio_button is selected, this giftcardnum should be required. -->
  <%= text_field_tag :giftcardnum %>
  
</div>

<div class="col" id="lastcol">
  <h2>Order Summary</h2>
  <div id="subtotallbl">Subtotal(...item(s)): </div>
  <div id="subtotalcost">€</div>
  <div id="shippinglbl">Shipping: </div>
  <div id="shippingcost">
    <!-- If country = ireland, shipping n/a, if outside republic shipping = 10 euro -->
    n/a
  </div>
  <div id="totalcost">Order Total: €</div>
  
  <div>
    Promotional Codes
    <br/>
    <!--If promo code == ruby, then discount 25% -->
    <%= text_field_tag(:promocode) %>
  </div>
  <div id="comments">
    Delivery Comments
    <br/>
    <%= text_area_tag :comments, '', :class => "textarea", :cols => "30", :rows => "5" %>
  </div>
  
  <!-- This submit button will collect all info on this page, delivery details, 
  payment details and order items and they will be submitted and saved to orders table. 
  Then summary of this info will be presented on thank you page to simulate some sort 
  of payment action. -->
  <div class="filledorangebtn">
    <%= submit_tag "Submit Order!" %> 
  </div>
  <% end %>
</div>

<% else %>
  <p>Please Login to checkout items.</p>
<% end %>

</div>




<% end %>