<% content_for :header do %>
<div id="search">
 <form>
  <input id="searchbar" type="search" name="productsearch" placeholder="Search Products..." />
 </form>
</div>
<% end %>

<% content_for :content do %>
<div id="itemcont">
<div id="breadcrumbs">
  <ul>
    <li>
      <h4><%= link_to "Home", :action => 'home', :controller => :site %></h4>
    </li>
    <li>
      >
    </li>
    <li>
      <h4><%= link_to @product.Catagory.titlecase, :action => @product.Catagory, :controller => :products %></h4>
    </li>
    <li>
      >
    </li>
    <li>
      <h4><%= link_to @product.subcategory.titlecase, :action => 'subcategory', 
        :subcategory => @product.subcategory, :breadcrumbsCategory => @product.Catagory %>
      </h4>
    </li>
    <li>
      >
    </li>
  </ul>
</div>

<div id="item">

  <h2><%= @product.Title %></h2>
  
  <div id="itemimg">
    <%= image_tag @product.image_url %>
  </div>
  
  <div id="itemdesc">
    <h4 id="itemprice"><%= number_with_precision(@product.price, precision: 2) %></h4>
    
    <div id="rating">
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <br/>
      <ul id="review">
        <li>
          <h4><a href="#">View Reviews</a></h4> 
        </li>
        <li>
          ||
        </li>
        <li>
          <h4><a href="#">Review this Product</a></h4>
        </li>
      </ul>
    </div>

    <div id="desc">
      <%= @product.Description %>
      <br/>
      <%= @product.features %>
    </div>
    
    
    <div id="size">
      <select class="dropdown">
        <option value="default">Choose your size...</option>
        <option value="xs">X-Small</option>
        <option value="s">Small</option>
        <option value="m">Medium</option>
        <option value="l">Large</option>
        <option value="xl">X-Large</option>
      </select>
    </div>  
    
    <div id="color">
      <select class="dropdown">
        <option value="default">Choose a color...</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="purple">Purple</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="white">White</option>
        <option value="black">Black</option>
      </select>
    </div>
    
    <div id="quantity">
      <input type="number" name="quantity" min="1" max="100" placeholder="Quantity" />
    </div>
    
    <div id="itemaddtocart">
      <!-- Color and Size have to be validated before added to cart? -->
      <h4><a href="#">Add to Cart</a></h4>
    </div>
  </div>

</div>

<div id="recommended">
 <h4>Recommended for you</h4>
 <table id="productsTable">
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
 
 <% @recommended.each_with_index do |product, index| %>
  <% if index % 4 == 0 %>
   <tr>
  <% end %>
   <td>
    <div class="eachproduct">
     <%= image_tag product.image_url , :class => "productsimg"%>
     <h3 class="title"><%= link_to product.Title, product %></h3>
    </div>
   </td>
   <% if index % 4 == 3 %>
    </tr>
   <% end %>
 <% end %>
 </table>
  
  </div>
</div>

<% end %>