<% content_for :title do %>
Product Details
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<div id="itemcont">
<div id="breadcrumbs">
  <ul>
    <li>
      <h4><%= link_to "Home", :action => 'home', :controller => :site %></h4>
    </li>
    <li>
      >
    </li>
    <li>
      <h4><%= link_to @product.Catagory.titlecase, :action => @product.Catagory, :controller => :products %></h4>
    </li>
    <li>
      >
    </li>
    <li>
      <h4><%= link_to @product.subcategory.titlecase, :action => 'subcategory', 
        :subcategory => @product.subcategory, :breadcrumbsCategory => @product.Catagory %>
      </h4>
    </li>
    <li>
      >
    </li>
  </ul>
</div>

<div id="item">

  <h2><%= @product.Title %></h2>
  
  <div id="itemimg">
    <%= image_tag @product.image_url %>
  </div>
  
  
   <%= form_for @product, :url => 'carts#submitOrder'  do |f|  %>
     
    <%= f.submit "Add todo", class: "btn btn-primary" %>
   
  
  
  <div id="itemdesc">
    <h4 id="itemprice"><%= number_with_precision(@product.price, precision: 2) %></h4>
    <h4 id="itemprice"><%= f.label :price,number_with_precision(@product.price, precision:2) %></h4>
    
    <%end%>
    <div id="rating">
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <br/>
      <ul id="review">
        <li>
          <h4><a id="review_trigger" href="#reviews">View Reviews</a></h4> 
        </li>
        <li>
          ||
        </li>
        <li>
          <h4><%= link_to "Review this Product", new_review_path(:productid => @product.id) %></h4>
        </li>
      </ul>
    </div>

    <div id="desc">
      <%= @product.Description %>
      <br/>
      <br/>
      <%= @product.features %>
    </div>
    
    
    <div id="size">
      <select class="dropdown">
        <option value="default">Choose your size...</option>
        <% sizeRange = @product.Size %>
        <% if sizeRange.eql? "all" %>
          <option value="xs">X-Small</option>
          <option value="s">Small</option>
          <option value="m">Medium</option>
          <option value="l">Large</option>
          <option value="xl">X-Large</option>
        <% elsif sizeRange.eql? "shoe" %>
          <option value="4">Size 4</option>
          <option value="5">Size 5</option>
          <option value="6">Size 6</option>
          <option value="7">Size 7</option>
          <option value="8">Size 8</option>
          <option value="9">Size 9</option>
          <option value="10">Size 10</option>
        <% elsif sizeRange.eql? "one" %>
          <option value="oneSize">One Size</option>
        <% end %>
      </select>
    </div>  
    
    <div id="color">
      <select class="dropdown">
        <option value="default">Choose a color...</option>
        <% colors = @product.Colour.split(' ') %>
        <% colors.each_with_index do |color, index| %>
          <option value="<%= colors[index].strip %>"><%= colors[index].strip.titlecase %></option>
        <% end %>
      </select>
    </div>
    
    <div id="quantity">
      <input type="number" name="quantity" min="1" max="100" placeholder="Quantity" />
    </div>
    
    <div id="itemaddtocart">
      <!-- Color and Size have to be validated before added to cart? -->
      <h4><a href="#">Add to Cart</a></h4>
      <%= tag "input", { "type" => "button", "value" => "Add to Cart", "onclick" => "addToCart(#{@product.price},#{@product.id})" } %>
      <%= tag "input", { "type" => "button", "value" => "List", "onclick" => "window.location.replace('../viewcart')" } %>
      <%= tag "input", { "type" => "button", "value" => "Clear Details(Will be removed)","onclick" => "cleardetails()" } %>
    </div>
  </div>

</div>

<div id="recommended">
 <h3 id="recommendedh3">Recommended for you</h3>
 <table id="productsTable">
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
 
 <% @recommended.each_with_index do |product, index| %>
  <% if index % 4 == 0 %>
   <tr>
  <% end %>
   <td>
    <div class="eachproduct">
     <%= link_to image_tag(product.image_url, :class => "productsimg"), product %>
     <h3 class="title"><%= link_to product.Title, product %></h3>
    </div>
   </td>
   <% if index % 4 == 3 %>
    </tr>
   <% end %>
 <% end %>
 </table>
</div>

<div id="reviews" style="display:none;">
		<header class="popupHeader" style="height: auto;">
			<div class="header_title">Reviews</div>
			<div class="modal_close">Close</div>
		</header>
		<section class="reviewshowBody">
			<div id="viewreviews">
				<% if @reviews.length != 0 %>
				  <% @reviews.each_with_index do |review, index| %>
				  <% if index % 2 == 0 %>
				    <div id="reviewsWhite">
				  <% else %>
				    <div id="reviewsGrey">
				  <% end %>
              <div id="reviewRating">
    				    <%= "4/5" %>
    				  </div>
    				  <div id="reviewSummary">
    				    <%= review.summary %>
    				  </div>
    				  <div id="reviewDate">
    				    <%= review.Date.strftime("%Y-%b-%d") %>
    				  </div>
    				  <div id="reviewBy">
    				    <div style="font-family: 'Cabin', Helvetica, Arial, sans-serif; width: 20px; float: left;">By</div>
    				    <% user = User.find_by(id: review.userId) %>
    				    <%= user.name + " " + user.lastname %>
    				  </div>
    				  <div id="reviewComment">
    				    <%= review.Comment %>
    				  </div>
  				  </div>
				  <% end %>
				  <div id="writereview">
				    Write your own Review <%= link_to "here", new_review_path(:productid => @product.id), {:class => "signup"} %>.
				  </div>
  				<% else %>
  				  <div id="noreviews">
      				<p>
      				  This product hasn't been reviewed yet.
      				</p>
      				<p>
      					Be the first to review this product <%= link_to "Here", new_review_path(:productid => @product.id), {:class => "signup"} %>!
      				</p>
    				</div>
  				<% end %>
  			</div>
  		</div>
  	</section>
</div>
	<script type="text/javascript">
	  $("#review_trigger").leanModal({top : 100, overlay : 0.6, closeButton: ".modal_close" });
	</script>
</div>

<% end %>