<% content_for :title do %>
Write a Review
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h1 id="new_reviewh1">Write a Review</h1>
<div class="newreview">
  <% if session[:username] %>
  <div id="newreviewform">
    <h3>New Review for: <%= @reviewingProduct.Title %></h3>
    <%= form_for(@review) do %>
    Rating:
    <div id="newrating">
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <!--getNewRating() -->
      <% hidden_field_tag :rating, "4" %>
    </div>
    <p>
      Summary:
      <br/>
      <%= text_field_tag :summary, '', :id => "reviewComments"%>
    </p>
    <p>
      Comments:
      <br/>
      <%= text_area_tag :comments, '', :id => "reviewComments", :rows => 7 %>
    </p>
    <%= hidden_field_tag :productId, @reviewingProduct.id %>
    <div id="back">
  		<%= link_to "Back", product_path(:id => @reviewingProduct.id), :id => "backbtn" %>
  	</div>
  	<div id="newrevbtndiv">
      <%= submit_tag "Add Review", :id => "addReviewBtn" %>
    </div>
  	<% end %>
  </div>
  <div id="reviewimage">
    <%= image_tag @reviewingProduct.image_url %>
  </div>
  <% else %>
    <p>You have to be logged in to submit a review.</p>
    <%= link_to "Back", product_path(:id => @reviewingProduct.id), :class => "signup" %>
  <% end %>
</div>
<% end %>