<% User_Var() %>
<!DOCTYPE html>
<html>
<head>
<title>IN Fashion</title>

<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>

<body>
	<header>
		<div id="logo">
		<img src="/assets/site/logo.jpg" alt="logo"/>
		</div>
		<div id="right">
			<div id="welcome">
				Welcome to our online store.
			</div>
			<div id="quickmenu">
				<ul id="quicklinks">
					<li><%=link_to "My Account", 'account' %></li>
					<li> | </li>
					<li><%=link_to "My Cart", 'cart' %></li>
					<li> | </li>
					<li><%=link_to "Checkout", 'checkout' %></li>
					<li> | </li>
					<li><a id="modal_trigger" href="#modal">Login</a></li>
				</ul>
			</div>
		</div>
	</header>
	
	<nav>
		<ul>
			<li><%=link_to "Women's", 'womens' %></li> 
			<li><%=link_to "Men's", 'mens' %></li> 
			<li><%=link_to "Sport Wear", 'sport' %></li>
			<li><%=link_to "Accessories", 'accessories' %></li>
		</ul>

		<div id="navimg">
			<%= yield :header %>
		</div>
	</nav>
	
	<div id="main">	
		<%= yield :content %>
		<div id="modal" class="popupContainer" style="display:none;">
			<header class="popupHeader">
				<div class="header_title">Login</div>
				<div class="modal_close">Close</div>
			</header>
			
			<section class="popupBody">
				<!-- User Login -->
				<div class="user_login">
					<%= form_for(@user) do |f| %>
					
						<table class="logintable">
						    <tr class="space">
						      <td>Username</td>
						      
						      <td><%= f.text_field :name, :autofocus=>true, :required => true %></td>
						      
						    </tr>
						    <tr class="space">
						      <td>Password</td>
						      <td><%= f.password_field :password, :required => true %></td>
						    </tr>
						    <tr class="space">
						      <td>Password</td>
						      <td><%= f.password_field :password, :required => true %></td>
						    </tr>
						    <tr class="space">
						      <td><input type="checkbox" name="remmeber" value="remember">Remember Me</td>
						    </tr>
						    <tr>
						      <td><%= f.submit "Submit", class: "btn btn-primary" %></td>
						      
						    </tr>
						</table>
					
					<%end%>
					
					<p>
						Don't have an account yet? <a href="#" id="register_form" class="signup">Sign up!</a>
					<br />
						<a href="#" class="forgot_password">Forgot your password?</a>
					</p>
				</div>
				
				<!-- Registration Form -->
				<div class="user_register">
					<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages' %>
						<table class="logintable">
						    <tr class="space">
						      <td>Username</td>
						      <td><%= f.text_field :name, :autofocus=>true, :required => true %></td>
						    <tr>
						    <tr class="space">
						      <td>Password</td>
						      <td><%= f.password_field :password, :required => true %></td>
						    <tr>
						      <tr class="space">
						      <td>Repeat Password</td>
						      <td><%= f.password_field :password_confirmation, :required => true %></td>
						    <tr>
						    <tr>
						      <td><input type="Submit" value="Register" class="sendbtn"></td>
						    </tr>
						</table>
					<%end%>
					
					<p class="backbtn">
						<a href="#">Back</a>
					</p>
				</div>
			</section>
		</div>
	</div>
	
	<script type="text/javascript">
		$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
		$(function(){
	
			// Calling Register Form
			$("#register_form").click(function(){
				$(".user_login").hide();
				$(".user_register").show();
				$(".header_title").text('Register');
				return false;
			});
						
			// Going back to Login Form
			$(".backbtn").click(function(){
				$(".user_register").hide();
				$(".user_login").show();
				$(".header_title").text('Login');
				return false;
			});
		})
	</script>

	<footer>
		<div id="footerlinks">
			<ul>
				<li><%=link_to "Home", 'home' %></li> 
				<li> | </li>
				<li><%=link_to "Women's", 'womens' %></li> 
				<li> | </li>
				<li><%=link_to "Men's", 'mens' %></li> 
				<li> | </li>
				<li><%=link_to "Sport Wear", 'sport' %></li>
				<li> | </li>
				<li><%=link_to "Accessories", 'accessories' %></li>
				<li> | </li>
				<li><%=link_to "About", 'about' %></li> 
				<li> | </li>
				<li><%=link_to "Contact", 'contact' %></li> 
			</ul>
		</div>
		
		<div id="updated">
			&copy; IN Fashion 2015
		</div>
	</footer>
	
</body>
</html>
