<!DOCTYPE html>
<html>
<head>
<title>IN Fashion</title>

<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>

<body>
	<header>
		<div id="logo">
		<img src="/assets/Site/logo.jpg" alt="logo"/>
		</div>
		<div id="right">
			<div id="welcome">
				Welcome to our online store.
			</div>
			<div id="quickmenu">
				<ul id="quicklinks">
					<li><%=link_to "Home", './' %></li>
					<li> | </li>
					<li><%=link_to "My Cart", '#' %></li>
					<li> | </li>
					<li><%=link_to "Checkout", '#' %></li>
					<li> | </li>
					<li><%=link_to "Login", 'singup' %></li>
				</ul>
			</div>
		</div>
	</header>
	
	<nav>
		<ul>
			<li><%=link_to "Home", './' %></li> 
			<li><%=link_to "Women's", '' %></li> 
			<li><%=link_to "Men's", '' %></li> 
			<li><%=link_to "Sport Wear", '' %></li>
			<li><%=link_to "Accessories", '' %></li> 			
			<li><%=link_to "About", '/about' %></li> 
		</ul>

		<div id="navimg">
			<%= yield :header %>
		</div>
	</nav>
	
	<div id="main">	
			<%= yield %>
	</div>
	
	<footer>
		<div id="footerlinks">
			<ul>
				<li><%=link_to "Home", './' %></li> 
				<li> | </li>
				<li><%=link_to "Women's", '' %></li> 
				<li> | </li>
				<li><%=link_to "Men's", '' %></li> 
				<li> | </li>
				<li><%=link_to "Sport Wear", '' %></li>
				<li> | </li>
				<li><%=link_to "Accessories", '' %></li> 
				<li> | </li>
				<li><%=link_to "About", '/about' %></li> 
				<li> | </li>
				<li><%=link_to "Contact", '/contact' %></li> 
			</ul>
		</div>
		
		<div id="updated">
			Last Updated 2015 March.
		</div>
	</footer>
</body>
</html>




 
